<!DOCTYPE html>
<html lang="fr">
  <!-- HEAD -->
  <head>
    <!-- Begin meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="falconpilot">
    <!-- End meta -->
    <title>FER - Fire Emblem Rebirth</title>
    <!-- Begin links -->
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- End links -->
  </head>
  <!-- BODY -->
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <a href="/">Accueil</a>
    </div>
    <!-- Header -->
    <header role="header">
      <a href="/">
        <img src="/images/banner.png" class="header-img"/>
      </a>
    </header>
    <!-- Main content -->
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
