<!DOCTYPE html>
<html lang="fr">
  <!-- HEAD -->
  <head>
    <!-- Begin meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="falconpilot">
    <meta property="og:image" content="http://localhost:4000/images/banner.png">
    <!-- End meta -->
    <title>FER - Fire Emblem Rebirth</title>
    <script src="https://use.fontawesome.com/aeeeb5e762.js"></script>
    <!-- Begin links -->
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- End links -->
  </head>
  <!-- BODY -->
  <body>
    <!-- CSRF Token -->
    <input type="hidden" id="csrf" value="<%= get_csrf_token() %>">
    <!-- Navbar -->
    <div class="navbar">
      <a href="/">Accueil</a>
      <a href="/userlist">Membres</a>
      <%= if is_online?(@conn) do %>
        <%= link("Déconnexion", to: "/logout", method: "post") %>
      <% else %>
        <a href="#" class="login-btn">
          Connexion
          <div>
            <%= form_for @changeset, "/login", [class: "login-form"],fn f -> %>
              <label>Pseudo</label>
              <%= text_input f, :username %>
              <label>Mot de passe</label>
              <%= password_input f, :password %>
              <%= submit "Connexion", [class: "btn"] %>
            <% end %>
          </div>
        </a>
        <a href="/register">Créer un compte</a>
      <% end %>
    </div>
    <!-- Online Tooltip -->
    <%= if is_online?(@conn) do %>
    <div class="online-tooltip">
      Connecté : <span class="group_<%= user_group(@conn) %>"><%= get_username(@conn) %></span>
    </div>
    <% end %>
    <!-- Main wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header role="header">
        <a href="/">
          <img src="/images/banner.png" class="header-img"/>
        </a>
      </header>
      <!-- Main content -->
      <main role="main">
        <!-- Info flash -->
        <%= if flash = get_flash(@conn, :info) do %>
          <div class="flash info"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;<%= flash %></div>
        <% end %>
        <!-- Error flash -->
        <%= if flash = get_flash(@conn, :error) do %>
          <div class="flash error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;<%= flash %></div>
        <% end %>
        <!-- Render main page -->
        <%= render @view_module, @view_template, assigns %>
        <!-- Admin pannel link -->
        <%= if is_allowed?(@conn) do %>
          <div class="pannel-btn-wrapper">
            <%= button("Panneau d'administration", to: "/pannel", class: "btn", method: "get") %>
          </div>
        <% end %>
      </main>
      <!-- Footer -->
      <footer role="footer">
        <div>Ce forum est sous license GPL3. Son code source est en libre accès.</div>
      </footer>
    </div>
    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
