/*
**  CSS Variables
*/

:root {
  --bg-color: #333;
}

/*
**  Standard classes
*/

body {
  margin: 0;
  background-color: var(--bg-color);
  background-image: url('/images/background.png');
  font-family: 'Open sans';
  color: #FFF;
}

main {
  position: relative;
  width: 80%;
  min-height: 40vh;
  margin: 5px auto;
  background-color: var(--bg-color);
  border-radius: 5px;
}

h1 {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #FFF;
  text-shadow: 0px 0px 1px #FFF;
  transition: 0.2s;
}

a:hover {
  color: #CFAF40;
  text-shadow: 0px 0px 1px #CFAF40;
}

/*
**  Navbar
*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 3px #000;
  z-index: 100;
}

.navbar > a {
  display: block;
  margin: 4px;
  font-family: 'Cinzel';
  font-size: 20px;
}

/*
**  Header
*/

.header-img {
  max-width: 100%;
  box-shadow: 0px 0px 6px #000;
}
