/*
**  CSS Variables
*/

:root {
  --bg-color: rgb(127, 134, 152);
  --dark-bg: rgb(57, 62, 72);
  --btn-color: rgb(150, 200, 250);
  --err-color: rgb(150, 75, 50);
  --info-color: rgb(100, 150, 200);
}

/*
**  Standard classes
*/

body {
  margin: 0;
  background-color: var(--bg-color);
  background-image: url('/images/background.png');
  font-family: 'Open sans';
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
  text-shadow: 0px 0px 1px #FFF;
  transition: 0.2s;
}

a:hover {
  color: #CFAF40;
  text-shadow: 0px 0px 1px #CFAF40;
}

input {
  font-family: 'Open sans';
}

form {
  display: flex;
}

/*
**  Titles
*/

.main-title {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: 'Cinzel';
  font-size: 25px;
  font-weight: normal;
  text-shadow: 0px 0px 2px #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px #000;
}

/*
**  Navbar
*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-bg);
  box-shadow: 0px 0px 3px #000;
  z-index: 100;
}

.navbar > a {
  display: block;
  margin: 4px 6px;;
  font-family: 'Cinzel';
  font-size: 16px;
}

.navbar > a:hover > div {
  height: 140px;
}

.login-btn > div {
  position: absolute;
  width: 200px;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-bg);
  border-radius: 0 0 5px 5px;
  transition: 0.2s;
  overflow: hidden;
}

/*
**  Main wrapper
*/

.main-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header-img {
  position: relative;
  max-width: 100%;
  box-shadow: 0px 0px 6px #111;
  z-index: 10;
}

main {
  position: relative;
  width: 70%;
  margin: 0px auto;
  margin-top: -5px;
  flex: 1;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 4px #111;
}

footer {
  position: relative;
  min-height: 20px;
  display: flex;
  align-items: center;
  background-color: var(--dark-bg);
  box-shadow: 0px 0px 4px #111;
  z-index: 1;
}

footer > div {
  font-size: 8px;
}

/*
**  Flash notices
*/

.flash {
  position: relative;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  z-index: 1;
}

.flash.error {
  background-color: var(--err-color);
  box-shadow: 0px 0px 4px var(--err-color);
}

.flash.info {
  background-color: var(--info-color);
  box-shadow: 0px 0px 4px var(--info-color);
}

/*
**  Buttons
*/

.btn {
  position: relative;
  min-width: 100px;
  margin: 8px auto;
  padding: 3px;
  font-size: 13px;
  color: var(--btn-color);
  border: 2px solid var(--btn-color);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  color: var(--bg-color);
  background-color: var(--btn-color);
}

/*
**  PA
*/

.pa-frame {
  position: relative;
  width: 95%;
  height: 250px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pa-borders {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.pa-frame > div {
  margin: 5px;
}

.pa-frame > .longblock {
  width: 30%;
  height: 70%;
  padding: 5px;
  font-size: 10px;
  text-align: justify;
  overflow: auto;
}

.pa-frame > .predefs {
  width: 30%;
  height: 70%;
  margin-top: -10px;
  overflow: auto;
}

.pa-frame > .partos {
  height: 25%;
  width: 95%;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.partos > a {
  margin: 5px;
}

.partos > a > img {
  border-radius: 1px;
}

.predefs > a {
  width: 95%;
  height: 64px;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
}

.predefs > a > img {
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px 0 0 4px;
}

.predefs > a > span {
  flex: 1;
  text-align: center;
  font-family: 'Dancing script';
  font-size: 25px;
  text-shadow:
}

/*
**  Registration form
*/

.register-form {
  position: relative;
  width: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form > label {
  margin: 5px 0;
  font-family: 'Cinzel';
  text-shadow: 0px 0px 1px #FFF;
}

.register-form > p {
  width: 100%;
  margin: 0;
  font-size: 8px;
  font-style: italic;
}

.register-form > input {
  width: 100%;
  border-radius: 5px;
}

.register-form > input:not([type=submit]) {
  margin: 2px 0;
  border: 1px solid #CCC;
}

/*
**  Login form
*/

.login-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form > input {
  width: 100%;
  border-radius: 5px;
}

.login-form > input:not([type=submit]) {
  margin: 2px 0;
  border: 1px solid #CCC;
}

.login-form > label {
  color: #FFF;
  text-shadow: 0px 0px 1px #FFF;
}

/*
**  Userlist
*/

.userlist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-frame {
  width: 80%;
  height: 100px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.user-frame > img {
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  broder-radius: 4px 0 0 4px;
}

.user-frame > a {
  flex: 1;
  text-align: center;
  font-family: 'Dancing Script';
  font-size: 30px;
}

/*
**  User profile
*/

.userpage-wrapper {
  display: flex;
  height: 500px;
}

.user-left {
  background-color: rgba(0, 0, 0, 0.3);
}

.user-right {
  flex-grow: 1;
}

.avatar {
  background-color: rgba(0, 0, 0, 0.3);
}

/*
**  Groups colors
*/

.group_1 {
  color: #000;
}
