<!DOCTYPE html>
<html lang="fr">
  <!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fire emblem RPG forum">
    <meta name="author" content="falconpilot">

    <title>FER - Fire Emblem Rebirth</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <!-- BODY -->
  <body>
    <!-- Forum header -->
    <a href="/">
      <img src="/images/banner.png" class="banner-img"/>
    </a>
    <!-- Main wrapper -->
    <div class="main-wrapper">
      <!-- Left sidebar -->
      <div class="sidebar">
        Pouet
      </div>
      <!-- Main content -->
      <main role="main" class="contents">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <!-- Right sidebar -->
      <div class="sidebar">
        Pouet
      </div>
    </div>
    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
