<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <head>
    <title>FER</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <!-- BODY -->
  <body>
    <!-- Global container -->
    <div id="global">
      <!-- Page header -->
      <a href="/">
        <div id="banner">
          <img src="http://image.noelshack.com/fichiers/2016/18/1462202219-banntest06.png"/>
        </div>
      </a>
      <!-- Page content -->
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
