Cela fait déjà plusieurs années que le monde est enfin en paix grâce à l'Exalt Chrom ainsi que son héritage, perpétué par sa fille, Lucina. Beaucoup de choses ont changées en plus d'un siècle : des royaumes que certains jugeaient en ruines se reconstruisent doucement mais sûrement; d'autres que l'on avait oublié redorèrent leurs blasons, même si le tribut à payer devait être celui du sang. Et petit à petit la peur du lendemain se transforma en une confiance envers l'avenir. Le destin tragique lié à l'éveil de Grima avait été changé pour de bon. 

De nos jours, l'évocation de ce passé tourmenté ressemble à un mythe, une fable, une légende. Qui penserait que les griffes du Dragon Déchu Grima pourraient encore se renfermer sur le monde ? Personne. Et pourtant, des murmures se répandent : le culte n'est pas mort. Sur un petit archipel encore mystérieux, découvert il y'a moins de 50 ans, quelque chose semble se dessiner dans l'obscurité...
